{# templates/contacto.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-2">

            </div>
            <div class="col">
                <div class="card text-center">
                <div class="card-header">
                    Prueba Iridian
                </div>
                <div class="card-body">
                    <h5 class="card-title">TO DO</h5>
                    <p class="card-text">3. Realice un formulario de contacto en symfony que tenga: nombre, apellido , correo , celular, área de
contacto (es una entidad) y mensaje. Debe guardar los datos en la base de datos.</p>
                    <a href="{{ path('new_contacto')}}" class="btn btn-primary">Ir a Contacto</a>
                    <p class="card-text">
                    4. Valide que un usuario (correo) no pueda enviar
más de 1 mensaje al día.</p>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
                </div>

            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
{% endblock %}